<h1 mat-dialog-title>Novo endereço</h1>
<mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Rua: </mat-label>
        <input matInput type="text" [(ngModel)]="data.rua" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Numero: </mat-label>
        <input matInput type="number" [(ngModel)]="data.numero" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Bairro: </mat-label>
        <input matInput type="text" [(ngModel)]="data.bairro" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Cidade: </mat-label>
        <input matInput type="text" [(ngModel)]="data.cidade" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>CEP: </mat-label>
        <input matInput type="text" [(ngModel)]="data.cep">
    </mat-form-field>

  <mat-error *ngIf="err">
    {{ err }}
  </mat-error>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="onSubmit()" mat-button color="primary">Enviar <mat-icon>send</mat-icon></button>
</mat-dialog-actions>
