<h1 mat-dialog-title>Novo produto</h1>
<mat-dialog-content>
  <form #form>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Produto: </mat-label>
        <input #name="ngModel" matInput type="text" [(ngModel)]="produto" [ngModelOptions]="{standalone: true}" required>
        <mat-error *ngIf="name.invalid">Preencha o campo corretamente</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Marca: </mat-label>
        <input matInput type="text" [(ngModel)]="marca" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Preço unitário: </mat-label>
        <span matPrefix style="float: left;">R$ &nbsp;</span>
        <input #price="ngModel" matInput type="number" step="0.01" [(ngModel)]="preco" [ngModelOptions]="{standalone: true}" required>
        <mat-error *ngIf="price.invalid">Preencha o campo corretamente</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Quantidade: </mat-label>
        <span matPrefix style="float: left;">Uni &nbsp;</span>
        <input #quant="ngModel" matInput type="number" [(ngModel)]="quantidade" [ngModelOptions]="{standalone: true}" required>
        <mat-error *ngIf="quant.invalid">Preencha o campo corretamente</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Peso unitário: </mat-label>
        <span matPrefix style="float: left;">Kg &nbsp;</span>
        <input #weight="ngModel" matInput type="number" step="0.001" [(ngModel)]="peso" [ngModelOptions]="{standalone: true}" required>
        <mat-error *ngIf="weight.invalid">Preencha o campo corretamente</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Fornecedor: </mat-label>
      <mat-select [(ngModel)]="fornecedor" [ngModelOptions]="{standalone: true}">
        <mat-option value="0">N / A</mat-option>
        <mat-option *ngFor="let item of listProvider" [value]="item.id_fornecedor">{{item.nome}}</mat-option>
      </mat-select>
    </mat-form-field>
        
    <mat-error *ngIf="err">
      {{ err }}
    </mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button *ngIf="form.checkValidity()" (click)="onSubmit()" mat-button color="primary"> Enviar <mat-icon>send</mat-icon></button>
</mat-dialog-actions>
