<div class="padding-5" [class.mat-elevation-z1]="!isActive" [class.mat-elevation-z8]="isActive"
  (mouseover)="isActive = true" (mouseout)="isActive = false">
  <h1 class="mat-h3">{{ title }}</h1>

  <form (ngSubmit)="cad()">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type='text' [(ngModel)]="nome" [ngModelOptions]="{standalone: true}"
          required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type='email' [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="exemplo@mail"
        required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Fone</mat-label>
        <input matInput type='tel' [(ngModel)]="fone" [ngModelOptions]="{standalone: true}"
          required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" placeholder="******"
        required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Confirmar senha</mat-label>
        <input matInput type="password" [(ngModel)]="Con_pass" [ngModelOptions]="{standalone: true}" placeholder="******"
          required>
    </mat-form-field>

    <mat-error *ngIf="erro">
      {{ erro }}
    </mat-error>
    <br>
    <button mat-raised-button type="submit" color="primary">Cadastrar-se</button>
  </form>
</div>